<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Procyon</title>
    <script src="./node_modules/echarts/dist/echarts.js"></script>
    <link rel="stylesheet" href="./simplegrid.css">
    <link rel="stylesheet" href="./index.css">
  </head>
  <body>
    <div class="header">
      <div id="messageArea"></div>
    </div>
    <div class="body">
      <div class="sidebar">
        <div id="projectTree" class="sidebar-contents">
          <img class="brand" src="./logo.png">
          <h3 class="title">Project Tree</h3>
          <el-input
            size="small"
            placeholder="Input Test number"
            v-model="projectInput"
            style="padding-bottom: 10px">
          </el-input>

          <el-tree
            :data="projectData"
            show-checkbox
            node-key="id"
            :default-checked-keys="[1]"
            :props="defaultProps"
            background-color="#CFD8DC"
            >
          </el-tree>
        </div>
        <div id="treeView"></div>
      </div>
      <div class="contents">
        <div id=topNav class="contents-header">
          <el-menu background-color="#60a0e0" text-color="#f4f4fd" active-text-color="#e06060" :default-active="activeIndex" mode="horizontal" @select="handleSelect" >
            <el-menu-item index="1">Node</el-menu-item>
            <el-menu-item index="2">Apps</el-menu-item>
            <el-menu-item index="3">RealTime</el-menu-item>
            <el-menu-item index="4">Analytics</el-menu-item>
          </el-menu>
        </div>
        <div class="contents-body">
          <div id="nodeTool" v-show="displayNodeTool">
            <el-alert
              title="What is the Node ?"
              type="info"
              description="You must run the Node at first if you want ping or traceroute.
              The Node can only boot or delete. The Node is immutable."
              show-icon>
            </el-alert>
            <h2 class="title-grey"> Procyon Node Utilities </h2>
            <el-form label-width="100px">
              <el-form-item label="Node IP">
                <el-input placeholder="IP : 192.168.1.1/24" v-model="nodeIP" v-bind:disabled="DisableInput"> </el-input>
              </el-form-item>
              <el-form-item label="Gateway">
                <el-input placeholder="Gateway : 192.168.1.1" v-model="nodeGateway" v-bind:disabled="DisableInput"> </el-input>
              </el-form-item>
              <el-form-item label="External NTP">
                <el-input placeholder="NTP : ntp.nict.jp" v-model="nodeNTP" v-bind:disabled="!DisableInput"> </el-input>
              </el-form-item>
              <el-button type="primary" @click="bootNode" v-bind:disabled="bootnodeDisabled">Boot Node</el-button>
              <el-button v-bind:disabled="!DisableInput" type="primary" @click="setNTP" v-bind:disabled="ntpDisable">Set NTP</el-button>
              <el-button v-bind:disabled="!DisableInput" type="danger" @click="dialogVisible = true">DeleteNode</el-button>
            </el-form>
            <el-progress class="progress" :percentage="progress" :show-text="false" ></el-progress>
            <el-dialog
              title="Delete Caution"
              :visible.sync="dialogVisible">
              <span>You must export mongo data to your localmachine.</span><br>
              <span>Do you delete Procyon Node realy?</span>
              <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">Cancel</el-button>
                <el-button type="danger" @click="deleteNode">Delete</el-button>
              </span>
            </el-dialog>
          </div>
          <div id="nodeAdd" ef="form" :model="form" v-show="displayNodeApp">
            <el-alert
              title="What is the App ?"
              type="info"
              description="The App is ping or traceroute client. The App have dedicated IP Address.
              Basically The App must have only 1 ping target.
              App provide syslog server if you need."
              show-icon>
            </el-alert>
            <h2 class="title-grey">App Factory</h2>
            <el-form  class="app-form"  label-width="90px" :rules="rules">
              <el-form-item label="VLAN">
               <el-input placeholder="VLAN : 100" v-model="form.vlan"> </el-input>
              </el-form-item>
              <el-form-item  label="Network" prop="cidr_req">
                <el-input placeholder="Network : 192.168.1.0/24" v-model="form.IPaddr"></el-input>
              </el-form-item>
              <el-form-item  label="IP Range" prop="cidr_req">
               <el-input placeholder="IP Range : 192.168.1.0/24" v-model="form.IPrange"></el-input>
              </el-form-item>
              <el-form-item label="Gateway" prop="ip_req">
                <el-input placeholder="Gateway : 192.168.1.254" v-model="form.gateway"></el-input>
              </el-form-item>
              <el-form-item label="Exclude IP" prop="ip">
                <el-input placeholder="Exclude : 192.168.1.1" v-model="form.exclude"></el-input>
              </el-form-item>
              <el-form-item>
                <el-input-number v-model="numberApp" controls-position="right" :min="1"></el-input-number>
                <el-button type="primary" @click="addApp('app')" v-bind:disabled="addappDisabled">Add App</el-button>
                <el-button type="primary" @click="addApp('syslog')" v-bind:disabled="addappDisabled">Add Syslog</el-button>
              </el-form-item>
            </el-form>
          </div>
          <div id="containerTable" v-show="displayContainerTable">
            <el-button type="danger" @click="flushContainer()">Delete AllApp</el-button>
            <el-button type="danger" @click="flushArptable()">Flush ArpTable</el-button>
            <hr>
            <h3 class="title-grey">Ping Options</h3>
            <div class="grid grid-pad">
              <el-form :model="reqConf">
                <div class="col-1-4">
                  <el-form-item label="Timeout">
                    <el-input v-model="reqConf.timeout" placeholder="1000 (msec)" size="small" ></el-input>
                  </el-form-item>
                </div>
                <div class="col-1-4">
                  <el-form-item label="Interval">
                    <el-input v-model="reqConf.interval" placeholder="1000 (msec)" size="small"></el-input>
                  </el-form-item>
                </div>
                <div class="col-1-4">
                  <el-form-item label="PacketSize">
                    <el-input v-model="reqConf.packetsize" placeholder="54" size="small"></el-input>
                  </el-form-item>
                </div>
                <div class="col-1-4">
                  <el-form-item label="Hop">
                    <el-input v-model="reqConf.hop" placeholder="10" size="small"></el-input>
                  </el-form-item>
                </div>
              </el-form>
            </div>

          </div>
          <el-row id="ResultArea" v-show="displayResultArea">
            <h3 class="title-grey">App Client List</h3>
            <el-col :span="4" v-for="(item, index) in AppData" :key="index">
              <el-card v-bind:class="{'is-pinging':item.pingdisabled,'is-ready':!item.pingdisabled}" :body-style="{ padding: '10px' }">
                <el-checkbox v-model="item.checked" label="Select" border></el-checkbox>
                <el-tag type="success" v-if="item.connected" >Connected</el-tag>
                <el-tag type="danger" v-else="item.connected" >Failure</el-tag>
                <el-button @click="deleteContainer(item,index)" size="small" type="danger" class="button" icon="el-icon-close"></el-button>
                <el-form class="container-from" :label-position="labelPosition">
                  <el-form-item label="Management IP">
                    <el-input size="small" :disabled="true" v-model="item.management_ip"></el-input>
                  </el-form-item>
                  <el-form-item label="Service IP">
                    <el-input size="small" :disabled="true" v-model="item.service_ip"></el-input>
                  </el-form-item>
                  <el-form-item label="Vlan">
                    <el-input size="small" :disabled="true" v-model="item.vlan"></el-input>
                  </el-form-item>
                  <el-form-item label="Network">
                    <el-input size="small" :disabled="true" v-model="item.network"></el-input>
                  </el-form-item>
                  <el-form-item label="Target IP">
                    <el-input size="small" v-model="item.targetip" placeholder="192.168.1.1"></el-input>
                  </el-form-item>
                  <div>
                    <el-button @click="startPing(item,index)" v-bind:disabled="item.pingdisabled" type="text" class="button">Ping Start</el-button>
                    <br>
                    <el-button @click="stopPing(item,index)" v-bind:disabled="!item.pingdisabled" type="text" class="button">Ping Stop</el-button>
                    <br>
                    <el-button @click="startTraceroute(item,index)" type="text" class="button">Traceroute</el-button>
                  </div>
                </el-form>
              </el-card>
            </el-col>
          </el-row>
          <div id="realtimeDashboard" v-show="displayRealtimeDashboard">
            <el-alert
              title="What is the Realtime ?"
              type="info"
              description="The Realtime Dashboard is realtime monitor of ping,traceroute logs to visualize.
              I assume that it check dead time by source-dest."
              show-icon>
            </el-alert>
            <h2 class="title-grey">RealTime Dashboard</h2>
            <label>RealTime Switcher</label>
            <el-switch v-model="RealtimeSwitch" active-text="On" inactive-text="Off" @change="changeSwitch()"></el-switch>
            <br>
            <div class="grid grid-pad">
              <div class="col-1-1">
              </div>
              <div class="col-1-2">
                <label>Reload Interval is {{ ReloadInt }} msec</label>
                <el-slider v-model="ReloadInt" :min="300" :max="5000" :step="100" :format-tooltip="formatInt"  @change="changeSwitch()"></el-slider>
              </div>
              <div class="col-1-2">
                <label>Reload last {{ LoadRange }} minutes (limit 50,000 logs)</label>
                <el-slider v-model="LoadRange" :min="1" :max="15" :format-tooltip="formatRange"  @change="changeSwitch()"></el-slider>
              </div>
            </div>
            <h3 class="title-grey">Active Dead Ratio</h3>
            <div id="realtime" v-bind:style="{ height: adHeight + 100 +'px' }"></div>
            <h3 class="title-grey">Ping snap</h3>
            <h3 class="title-grey">Traceroute snap</h3>
            <h3 class="title-grey">Syslog snap</h3>
          </div>

          <div id="timeRange" v-show="displaytimeRange">
            <el-alert
              title="What is the Analytics ?"
              type="info"
              description="The Analytics is analyze ping,traceroute,syslog logs. You set range logs at first. So you appear visualize graph. Next you set"
              show-icon>
            </el-alert>
            <h2 class="title-grey">Analytics</h2>
            <h3 class="title-grey">TimeRange</h3>
            <el-date-picker
              v-model="limitTimeRangeDate"
              type="date"
              placeholder="Pick a day"
              @change="getAllpingCnt()"
              >
            </el-date-picker>
            <el-time-picker
              is-range
              v-model="limitTimeRangeTime"
              range-separator="To"
              start-placeholder="Start time"
              end-placeholder="End time"
              @change="getAllpingCnt()"
              >
            </el-time-picker>
            <el-button @click="getAllPing()" type="primary" class="button">Reload</el-button>
            <h3> {{ PingCnt }}</h3>
          </div>
          <div id="LogArea" v-show="displayLogArea">
            <div class="resolve">
              <h3 class="title-grey">Resolve Name</h3>
              <el-popover
                ref="recordtable"
                placement="right"
                width="400"
                trigger="click">
                <el-table :data="recordData">
                  <el-table-column width="150" property="ip" label="IP"></el-table-column>
                  <el-table-column width="250" property="name" label="Name"></el-table-column>
                </el-table>
              </el-popover>
              <el-button @click="checkRecord()" v-popover:recordtable type="success" size="small" round>CheckReg</el-button>
              <div class="grid grid-pad">
                <div class="col-8-12">
                  <el-input
                    class="resolve-text"
                    type="textarea"
                    autosize
                    :autosize="{ minRows: 5}"
                    placeholder="Please Paste hosts like blew example. if you regist duplicate ip address, the recode will overwrite it.
                    --------------------
                    192.168.1.1 kyotenGW
                    10.10.10.10 gaisetsu1"
                    v-model="hosts">
                  </el-input>
                </div>
                <div class="col-2-12">
                  <el-button class="button-full button-height-5row" @click="registRecord()" type="primary" plain>Regist</el-button>
                </div>
                <div class="col-2-12">
                  <el-button class="button-full button-height-5row" @click="resetRecord()" type="danger" plain>UnRegist</el-button>
                </div>
              </div>
            </div>
            <div class="AnalyticsViewer">
              <h3 class="title-grey">Viewer</h3>
              <el-tabs v-model="LogActive"  type="card">
                <el-tab-pane label="Ping" name="Ping">
                  <section class="filter">
                    <h3 class="title-grey">Filter Logs</h3>
                    <div class="grid grid-pad">
                      <div class="col-1-5">
                        <div class="filter-input">
                          <label>Source</label>
                          <el-input placeholder="Source" prefix-icon="el-icon-search" v-model="filterLogsSource"></el-input>
                        </div>
                      </div>
                      <div class="col-1-5">
                        <div class="filter-input">
                          <label>Destnation</label>
                          <el-input placeholder="Destnation" prefix-icon="el-icon-search" v-model="filterLogsDestnation"></el-input>
                        </div>
                      </div>
                      <div class="col-1-5">
                        <div class="filter-input">
                          <label>Alive</label>
                          <el-input placeholder="Alive" prefix-icon="el-icon-search" v-model="filterLogsAlive"></el-input>
                        </div>
                      </div>
                      <div class="col-1-5">
                        <div class="filter-input">
                          <label>Timestamp</label>
                          <el-input placeholder="Timestamp" prefix-icon="el-icon-search" v-model="filterLogsTime"></el-input>
                        </div>
                      </div>
                      <div class="col-1-5">
                        <div class="filter-input">
                          <label>Messages</label>
                          <el-input placeholder="Messages" prefix-icon="el-icon-search" v-model="filterLogsMessage"></el-input>
                        </div>
                      </div>
                    </div>
                  </section>
                  <br>
                  <div>
                    <p>TotalLog : {{ totalPinglog }}</p>
                    <p>Dead Count : {{ deadPinglog }}</p>
                    <p>Alive Count : {{ alivePinglog }}</p>
                  </div>
                  <el-table
                    class="cluster-table"
                    :data="tableData"
                    border
                    style="width: 100%"
                    resizable=true>
                    <el-table-column
                      prop="source"
                      label="Source"
                      sortable>
                    </el-table-column>
                    <el-table-column
                      prop="source_resolve"
                      label="SrcResolve"
                      sortable>
                    </el-table-column>
                    <el-table-column
                      prop="dest"
                      label="Destnation"
                      sortable>
                    </el-table-column>
                    <el-table-column
                      prop="dest_resolve"
                      label="DstResolve"
                      sortable>
                    </el-table-column>
                    <el-table-column
                      prop="alive"
                      label="alive"
                      width="90"
                      sortable>
                      <template slot-scope="scope">
                        <el-tag
                          :type="scope.row.alive === 'true' ? 'success' : 'danger'"
                          close-transition>{{scope.row.alive}}</el-tag>
                      </template>
                    </el-table-column>
                    <el-table-column
                      prop="time"
                      label="time(msec)"
                      width="120"
                      sortable>
                    </el-table-column>
                    <el-table-column
                      prop="timestamp"
                      label="timestamp"
                      width="200"
                      sortable>
                    </el-table-column>
                    <el-table-column
                      prop="message"
                      label="message"
                      sortable>
                    </el-table-column>
                  </el-table>
                </el-tab-pane>
                <el-tab-pane label="Traceroute" name="Traceroute">
                </el-tab-pane>
                <el-tab-pane label="Syslog" name="Syslog">
                  <div class="grid grid-pad">
                    <div class="col-1-5">
                      <div class="filter-input">
                        <label>Facility</label>
                        <el-input placeholder="Source" prefix-icon="el-icon-search" v-model="filterLogsSource"></el-input>
                      </div>
                    </div>
                    <div class="col-1-5">
                      <div class="filter-input">
                        <label>Severity</label>
                        <el-input placeholder="Destnation" prefix-icon="el-icon-search" v-model="filterLogsDestnation"></el-input>
                      </div>
                    </div>
                    <div class="col-1-7">
                      <div class="filter-input">
                        <label>Tag</label>
                        <el-input placeholder="Alive" prefix-icon="el-icon-search" v-model="filterLogsAlive"></el-input>
                      </div>
                    </div>
                    <div class="col-1-7">
                      <div class="filter-input">
                        <label>Timestamp</label>
                        <el-input placeholder="Timestamp" prefix-icon="el-icon-search" v-model="filterLogsTime"></el-input>
                      </div>
                    </div>
                    <div class="col-1-7">
                      <div class="filter-input">
                        <label>Hostname</label>
                        <el-input placeholder="Messages" prefix-icon="el-icon-search" v-model="filterLogsMessage"></el-input>
                      </div>
                    </div>
                    <div class="col-1-7">
                      <div class="filter-input">
                        <label>Address</label>
                        <el-input placeholder="Messages" prefix-icon="el-icon-search" v-model="filterLogsMessage"></el-input>
                      </div>
                    </div>
                    <div class="col-1-7">
                      <div class="filter-input">
                        <label>Port</label>
                        <el-input placeholder="Messages" prefix-icon="el-icon-search" v-model="filterLogsMessage"></el-input>
                      </div>
                    </div>
                    <div class="col-1-7">
                      <div class="filter-input">
                        <label>Size</label>
                        <el-input placeholder="Messages" prefix-icon="el-icon-search" v-model="filterLogsMessage"></el-input>
                      </div>
                    </div>
                    <div class="col-1-7">
                      <div class="filter-input">
                        <label>Message</label>
                        <el-input placeholder="Messages" prefix-icon="el-icon-search" v-model="filterLogsMessage"></el-input>
                      </div>
                    </div>
                  </div>
                  <el-table
                    :data="tableSyslogData"
                    border
                    style="width: 100%"
                    resizable=true>
                    <el-table-column
                      prop="facility"
                      label="Facility"
                      sortable>
                    </el-table-column>
                    <el-table-column
                      prop="severity"
                      label="Severity"
                      sortable>
                    </el-table-column>
                    <el-table-column
                      prop="tag"
                      label="Tag"
                      sortable>
                    </el-table-column>
                    <el-table-column
                      prop="time"
                      label="Timestamp"
                      sortable>
                    </el-table-column>
                    <el-table-column
                      prop="hostname"
                      label="Hostname"
                      sortable>
                    </el-table-column>
                    <el-table-column
                      prop="address"
                      label="Address"
                      sortable>
                    </el-table-column>
                    </el-table-column>
                    <el-table-column
                      prop="port"
                      label="Port"
                      sortable>
                    </el-table-column>
                    </el-table-column>
                    <el-table-column
                      prop="size"
                      label="Size"
                      sortable>
                    </el-table-column>
                    <el-table-column
                      prop="msg"
                      label="Message"
                      sortable>
                    </el-table-column>
                  </el-table>
                </el-tab-pane>
              </el-tabs>
            </div>
          </div>
        </div>
      </div>
    </div>


  </body>
<script src="./dist/bundle.js"></script>
</html>