<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Procyon</title>
    <link rel="stylesheet" href="./node_modules/element-ui/lib/theme-default/index.css">
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./node_modules/element-ui/lib/index.js"></script>
    <script src="./node_modules/echarts/index.js"></script>
  </head>
  <body>
    <div id=topNav>
      <el-menu theme="dark" :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
        <el-menu-item index="1">Processing Center</el-menu-item>
        <el-submenu index="2">
          <template slot="title">Workspace</template>
          <el-menu-item index="2-1">item one</el-menu-item>
        </el-submenu>
        <el-menu-item index="3"><a href="" target="_blank">Orders</a></el-menu-item>
      </el-menu>
    </div>

    <div id="nodeTool">
      <h2> Procyon Node Utilities </h2>
      <el-form label-width="80px">
        <el-form-item label="Node IP">
          <el-input placeholder="IP : 192.168.1.1/24" v-model="nodeIP" v-bind:disabled="DisableInput"> </el-input>
        </el-form-item>
        <el-form-item label="Gateway">
          <el-input placeholder="Gateway : 192.168.1.1" v-model="nodeGateway" v-bind:disabled="DisableInput"> </el-input>
        </el-form-item>
        <el-button type="primary" @click="bootNode" v-bind:disabled="bootnodeDisabled">BootNode</el-button>
        <!-- <el-button type="primary" @click="setAddress">Reset IP</el-button> -->
        <el-button type="info" @click="getVersion">GetVersion</el-button>
        <el-button type="danger" @click="dialogVisible = true">DeleteNode</el-button>
      </el-form>
      <el-dialog
        title="Caution"
        :visible.sync="dialogVisible"
        size="tiny">
        <span>Do you delete Procyon Node ?</span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">Cancel</el-button>
          <el-button type="danger" @click="deleteNode">Delete</el-button>
        </span>
      </el-dialog>
    </div>
    <hr>
    <div id="nodeAdd" ef="form" :model="form" >
      <h2>App Utilities</h2>
      <el-form label-width="80px">
        <el-form-item label="VLAN">
         <el-input placeholder="VLAN : 100" v-model="form.vlan"> </el-input>
        </el-form-item>
        <el-form-item  label="Network">
         <el-input placeholder="Network : 192.168.1.0/24" v-model="form.IPaddr"> </el-input>
        </el-form-item>
        <el-form-item  label="IP Range">
         <el-input placeholder="IP Range : 192.168.1.0/24" v-model="form.IPrange"> </el-input>
        </el-form-item>
        <el-form-item label="Gateway">
          <el-input placeholder="Gateway : 192.168.1.254" v-model="form.gateway"> </el-input>
        </el-form-item>
        <el-form-item label="Exclude IP">
          <el-input placeholder="Exclude : 192.168.1.1" v-model="form.exclude"> </el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="addApp('app')" v-bind:disabled="addappDisabled">Add App</el-button>
          <el-button type="primary" @click="addApp('syslog')" v-bind:disabled="addappDisabled">Add Syslog</el-button>
        </el-form-item>
      </el-form>
    </div>
    <div id="containerTable">
      <el-button type="danger" @click="flushContainer()">Delete AllApp</el-button>
      <el-button type="danger" @click="flushArptable()">Flush ArpTable</el-button>
      <el-form :inline="true" :model="reqConf">
        <el-form-item label="Timeout">
          <el-input v-model="reqConf.timeout" placeholder="1000 (msec)"></el-input>
        </el-form-item>
        <el-form-item label="Interval">
          <el-input v-model="reqConf.interval" placeholder="1000 (msec)"></el-input>
        </el-form-item>
        <el-form-item label="PacketSize">
          <el-input v-model="reqConf.packetsize" placeholder="54"></el-input>
        </el-form-item>
        <el-form-item label="hop">
          <el-input v-model="reqConf.hop" placeholder="10"></el-input>
        </el-form-item>
      </el-form>
    </div>
    <el-row id="ResultArea" >
      <el-col :span="4" v-for="(item, index) in AppData" :key="index" :offset="1">
        <el-card :body-style="{ padding: '20px' }">
          <el-form :label-position="labelPosition">
            <el-form-item label="Management IP">
              <el-input size="small" :disabled="true" v-model="item.management_ip"></el-input>
            </el-form-item>
            <el-form-item label="Service IP">
              <el-input size="small" :disabled="true" v-model="item.service_ip"></el-input>
            </el-form-item>
            <el-form-item label="Vlan">
              <el-input size="small" :disabled="true" v-model="item.vlan"></el-input>
            </el-form-item>
            <el-form-item label="Network">
              <el-input size="small" :disabled="true" v-model="item.network"></el-input>
            </el-form-item>
            <el-form-item label="Target IP">
              <el-input size="small" v-model="item.targetip" placeholder="192.168.1.1"></el-input>
            </el-form-item>
            <div>
              <el-button @click="startPing(item,index)" type="text" class="button">Ping Start</el-button>
              <br>
              <el-button @click="stopPing(item,index)" type="text" class="button">Ping Stop</el-button>
              <br>
              <el-button @click="startTraceroute(item,index)" type="text" class="button">Traceroute</el-button>
              <br>
              <el-button @click="deleteContainer(item,index)" size="mini" type="danger" class="button">Delete</el-button>
            </div>
          </el-form>
        </el-card>
      </el-col>
    </el-row>
    <hr>
    <div id="LogArea">
      <h1>PingLog Viewer</h1>
      <label>RealTime Monitor</label>
      <el-switch
        v-model="MongoSwitch"
        on-text="On"
        off-text="Off"
        @change="changeSwitch()"
      >
      </el-switch>
      <br>
      <label>RealTime LogLimit</label>
      <el-slider v-model="logLimit" :max="500" :min="1" :step="1" @change="changeSwitch()"></el-slider>
      <label>RealTime Relod Interval msec</label>
      <el-slider v-model="interval" :max="10000" :min="100" :step="100" @change="changeSwitch()"></el-slider>
      <el-input placeholder="Log Limit" v-model="logStaticLimit" ></el-input>
      <el-button @click="ReloadLogArea" size="small" type="success" class="button">Reload</el-button>
      <p>Filter</p>
      <el-input placeholder="Source" v-model="filterLogsSource"></el-input>
      <el-input placeholder="Destnation" v-model="filterLogsDestnation"></el-input>
      <el-input placeholder="Alive" v-model="filterLogsAlive"></el-input>
      <template>
        <div class="block">
          <span>TimePicker</span>
          <el-date-picker
            v-model="filterLogsTime"
            type="datetimerange"
            align="right"
            placeholder="Pick a range"
            :picker-options="FilterTimeOption">
          </el-date-picker>
        </div>
      </template>
      <p>TotalLog : {{ totalPinglog }}</p>
      <p>Dead Count : {{ deadPinglog }}</p>
      <p>Alive Count : {{ alivePinglog }}</p>
      <template>
        <el-table
          :data="tableData"
          border
          style="width: 100%"
          resizable=true>
          <el-table-column
            prop="source"
            label="Source"
            width="180"
            sortable>
          </el-table-column>
          <el-table-column
            prop="dest"
            label="Destnation"
            width="180"
            sortable>
          </el-table-column>
          <el-table-column
            prop="alive"
            label="alive"
            width="90"
            sortable>
          </el-table-column>
          <el-table-column
            prop="time"
            label="time(msec)"
            width="110"
            sortable>
          </el-table-column>
          <el-table-column
            prop="timestamp"
            label="timestamp"
            width="200"
            sortable>
          </el-table-column>
          <el-table-column
            prop="message"
            label="message"
            sortable>
          </el-table-column>
        </el-table>
      </template>
    </div>
    <hr>
    <div id="syslogArea">
      <h1> Syslog Viewer</h1>
      <label>RealTime Monitor</label>
      <el-switch
        v-model="MongoSwitch"
        on-text="On"
        off-text="Off"
        @change="changeSwitch">
      </el-switch>
      <template>
        <el-table
          :data="tableSyslogData"
          border
          style="width: 100%"
          resizable=true>
          <el-table-column
            prop="facility"
            label="Facility"
            sortable>
          </el-table-column>
          <el-table-column
            prop="severity"
            label="Severity"
            sortable>
          </el-table-column>
          <el-table-column
            prop="tag"
            label="Tag"
            sortable>
          </el-table-column>
          <el-table-column
            prop="time"
            label="Timestamp"
            sortable>
          </el-table-column>
          <el-table-column
            prop="hostname"
            label="Hostname"
            sortable>
          </el-table-column>
          <el-table-column
            prop="addrsss"
            label="Adress"
            sortable>
          </el-table-column>
          </el-table-column>
          <el-table-column
            prop="port"
            label="Port"
            sortable>
          </el-table-column>
          </el-table-column>
          <el-table-column
            prop="size"
            label="Size"
            sortable>
          </el-table-column>
          <el-table-column
            prop="msg"
            label="Message"
            sortable>
          </el-table-column>
        </el-table>
      </template>
    </div>

  </body>
<script src="./vue/index.js"></script>
</html>